<div class="bgc center">
    <div class="container">
      <div class="header">
        <h1><span class="l">L</span>OGIN</h1>
      </div>
      <form>
        <label for="uname">Username</label>
        <input type="text" class="inp" name="uname" required>
        <label for="psw">Password</label>
        <input type="password" class="inp" name="psw" required>
        <button type="submit">Entra</button>
      </form>
      <div class="signup">
        <b>Non hai un account?</b>
        <a href="#">Registrati</a>
      </div>
    </div>
  </div>
